<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <title>Vue-bicycle</title>
    </head>
    <body>
        <div
            id="app"
            class="
                relative
                w-full
                bg-gray-700
                flex flex-col
                items-center
                justify-center
                h-screen
            "
        >
            <h1
                class="
                    block
                    absolute
                    top-0
                    p-6
                    mt-8
                    mx-6
                    sm:p-6
                    text-2xl
                    sm:text-3xl
                    text-center
                    font-mono
                    tracking-widest
                    text-gray-200
                    uppercase
                    w-auto
                    h-auto
                    bg-white bg-opacity-10
                    backdrop-filter backdrop-blur-sm
                    border-2 border-gray-200
                    rounded-3xl
                "
            >
                Real time JCDecaux's self-service bicycle data in Dublin
            </h1>
            <div
                class="
                    rounded-lg
                    bg-blue-400
                    flex flex-col
                    justify-start
                    h-3/4
                    w-3/4
                    p-6
                    sm:p-16
                "
            >
                <section v-if="errored">
                    <p>
                        We're sorry, we're not able to retrieve this information
                        at the moment, please try back later
                    </p>
                </section>
                <section
                    v-else
                    class="flex justify-center items-center h-full h-full"
                >
                    <div
                        v-if="loading"
                        class="
                            text-2xl
                            sm:text-7xl
                            text-center
                            font-bold
                            text-gray-700
                        "
                    >
                        Loading...
                    </div>
                    <div v-else>
                        <select
                            type="text"
                            v-model="selected"
                            class="
                                w-full
                                bg-gray-700
                                text-gray-400
                                p-4
                                sm:p-8
                                rounded-2xl
                                text-md
                                sm:text-2xl
                                font-bold
                                border border-transparent
                                focus:outline-none
                                focus:ring-4
                                focus:ring-blue-600
                                focus:border-transparent
                            "
                        >
                            <option disabled value="">Please select one</option>
                            <option
                                type="text"
                                v-for="i in info"
                                v-bind:value="[i.bike_stands, i.available_bike_stands]"
                            >
                                {{ i.name }}
                            </option>
                        </select>
                        <span
                            class="
                                flex
                                justify-center
                                mt-24
                                text-4xl
                                sm:text-6xl
                                font-bold
                                text-gray-700
                            "
                            >Total Bike Stands {{ selected }}</span
                        >
                    </div>
                </section>
            </div>
        </div>
    </body>
    <script src="./app.js"></script>
</html>
<!-- bike_stands": 33, "available_bike_stands": 22, "available_bikes": 11 -->
